# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Composer
/vendor/
composer.lock
.phpunit.result.cache

# Vite / Build Outputs
build/
dist/
dist-ssr/
release/
public/
assets/build/
admin/dist/

# OS / temp files
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp
*.temp
*.bak
*.orig
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# Editor
.idea/
.vscode/*
!.vscode/extensions.json

# Documentation
documentation/build/
.storybook-out/
storybook-static/

# LocalWP/Project specific
*.local
